* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f9f1f0;
  padding: 20px;
}

h1, h2, h3 {
  font-family: "Cormorant Garamond", serif;
}

.navbar, .button {
  font-family: "Poppins", sans-serif;
}
